[core]
    pager = less -S
[alias]
    graph = log --oneline --graph
    refgrep = ! git for-each-ref --format='%(refname:short)' 'refs/**' | grep
    ggrep = "! f() { git refgrep \"$@\" | xargs git graph; }; f"
    ldiff = "! f() { git diff --color=always \"$@\" | diff-highlight | less -SRFX; }; f"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = latest
