[core]
    pager = less -S
[alias]
    graph = log --oneline --graph
    refgrep = ! git for-each-ref --format='%(refname:short)' 'refs/**' | grep
    ggrep = "! f() { git refgrep \"$@\" | xargs git graph; }; f"
